version: '3'
services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
      target: dev
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - ./web:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
